@font-face {
  font-family: "Inter";
  src: url("../assets/fonts/inter/static/Inter_18pt-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url("../assets/fonts/inter/static/Inter_18pt-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Martian Mono";
  src: url("../assets/fonts/martian-mono/static/MartianMono-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Martian Mono";
  src: url("../assets/fonts/martian-mono/static/MartianMono-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Martian Mono";
  src: url("../assets/fonts/martian-mono/static/MartianMono-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
.hero-top {
  background-color: #faf5ef;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.05) 1px, transparent 1px), linear-gradient(to bottom, rgba(0, 0, 0, 0.05) 1px, transparent 1px);
  background-size: 24px 24px;
  padding: 1.5rem;
  padding-bottom: 60px;
}

.hero-bottom {
  margin-top: 4rem;
}

h1 {
  font-family: "Martian Mono";
  margin-top: 3rem;
  font-size: 38px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 45.6px */
  letter-spacing: -2px;
  width: 240px;
}

.logo-row {
  background-color: #faf5ef;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.05) 1px, transparent 1px), linear-gradient(to bottom, rgba(0, 0, 0, 0.05) 1px, transparent 1px);
  background-size: 24px 24px;
}

.hero-bottom img {
  display: block;
  width: 100%;
  border-radius: 1rem;
}

.description {
  margin-top: 1.5rem;
  color: #385159;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 28px */
  letter-spacing: -0.5px;
}

.review-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin-top: 2rem;
  border-radius: 0.5rem;
  border: 2px solid #062630;
  background-color: #FFF5EF;
  color: #062630;
  font-family: "Martian Mono";
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%; /* 20.8px */
  letter-spacing: -1px;
  padding: 1.25rem 1.5rem;
  text-transform: uppercase;
}
.review-button span {
  display: block;
}

.review-button:hover {
  border: 2px solid var(--colors-neutral-900, #062630);
  background: linear-gradient(90deg, var(--colors-light-salmon-100, #FFE2D1) 0%, var(--colors-light-salmon-50, #FFF5EF) 100%);
  box-shadow: 0 0 0 3px #FFF, 0 0 0 5px var(--colors-neutral-700, #385159);
}

.heroes-rating {
  margin-top: 1.25rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
}
.heroes-rating .avatars {
  width: 110px;
  height: 40px;
}
.heroes-rating .rating-description {
  color: #385159;
  font-family: "Martian Mono";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 16.8px */
  letter-spacing: -1px;
  width: 140px;
}

.rating-stars {
  display: flex;
  flex-direction: row;
  margin-left: -2px;
}

.features {
  padding: 0 1rem;
}

.feature-list {
  margin-top: 1.5rem;
}
.feature-list li {
  padding-left: 2rem;
  margin-top: 1rem;
  position: relative;
  color: #385159;
}
.feature-list li::before {
  content: "";
  position: absolute;
  left: 0;
  width: 1.25rem;
  height: 1.25rem;
  background: url("../assets/images/icon-check.svg") center/contain no-repeat;
}

.circled-word {
  position: relative;
  display: inline-block;
}
.circled-word img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 140%;
  max-width: none;
}

.bold {
  font-weight: 600;
}

picture img {
  border-radius: 0.5rem;
}

.differences {
  margin-left: auto;
  margin-right: auto;
  margin-top: 4rem;
  width: 280px;
  font-family: "Martian Mono";
  font-size: 34px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%; /* 44.2px */
  letter-spacing: -2px;
}

.feature-image {
  margin-top: 2.5rem;
}

.step-item {
  display: flex;
  margin-top: 1.25rem;
  align-items: flex-start;
  gap: 1.5rem;
}
.step-item p {
  margin-top: 1rem;
  font-family: "Martian Mono";
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: 130%; /* 20.8px */
  letter-spacing: -1px;
  color: #062630;
}

.step-number {
  width: 2.5rem;
  height: 2.5rem;
  border: 2px solid #062630;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  font-family: monospace;
  font-size: 1.5rem;
  font-weight: 700;
  color: #062630;
}

.journey {
  margin-top: 3.75rem;
  margin-left: 1rem;
  margin-right: 1rem;
  border-radius: 0.75rem;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.05) 1px, transparent 1px), linear-gradient(to bottom, rgba(0, 0, 0, 0.05) 1px, transparent 1px);
  background-size: 24px 24px;
  background-color: #FAF5F3;
  padding: 4rem 1rem;
}
.journey h2 {
  color: #062630;
  font-family: "Martian Mono";
  font-size: 34px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%; /* 44.2px */
  letter-spacing: -2px;
  margin-bottom: 0.75rem;
  width: 12.5rem;
}

.steps {
  margin-top: 2rem;
}

.membership {
  padding: 0 1rem;
}
.membership h2 {
  color: #062630;
  font-family: "Martian Mono";
  font-size: 34px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%; /* 44.2px */
  letter-spacing: -2px;
}
.membership .membership-item {
  padding: 1.5rem;
  border: 1px solid #E6E1DF;
  border-radius: 0.5rem;
}
.membership h3 {
  font-family: "Martian Mono";
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 110%; /* 26.4px */
  letter-spacing: -1px;
  color: #062630;
}
.membership .price {
  color: #062630;
  font-family: "Martian Mono";
  font-size: 34px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%; /* 44.2px */
  letter-spacing: -1px;
}
.membership .price span {
  margin-left: 0.5rem;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 28px */
  letter-spacing: -0.5px;
}
.membership hr {
  height: 1px;
  background-color: #E6E1DF;
  margin: 1.5rem 0;
}
.membership ul {
  margin-top: 1.5rem;
}
.membership ul li {
  color: #385159;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 28px */
  letter-spacing: -0.5px;
}
.membership ul li::before {
  content: "";
  display: inline-block;
  width: 0.5rem;
  height: 0.5rem;
  background: url("../assets/images/icon-check.svg") center/contain no-repeat;
  margin-right: 0.5rem;
  width: 1.25rem;
  height: 1.25rem;
  margin-bottom: -4px;
}
.membership a {
  text-align: center;
  text-transform: uppercase;
  margin-top: 1.5rem;
  display: block;
  border-radius: 8px;
  border: 2px solid #062630;
  background-color: #FFF5EF;
  color: #062630;
  font-family: "Martian Mono";
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%; /* 20.8px */
  letter-spacing: -1px;
  padding: 1.25rem 1.5rem;
  width: 100%;
}
.membership a:hover {
  border: 2px solid #062630;
  background: linear-gradient(90deg, #FFE2D1 0%, #FFF5EF 100%);
  box-shadow: 0 0 0 3px #FFF, 0 0 0 5px var(--colors-neutral-700, #385159);
}

.pro {
  background-color: #FAF5F3;
}

.membership-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 1.5rem;
}

.review-section {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 1.5rem;
  padding: 0 1rem;
}
.review-section .review {
  color: #062630;
  font-family: "Martian Mono";
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 110%; /* 26.4px */
  letter-spacing: -1px;
  width: 201px;
}
.review-section .review-author {
  color: #385159;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 28px */
  letter-spacing: -0.5px;
}

footer {
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0.06) 1px, transparent 1px), linear-gradient(to bottom, rgba(255, 255, 255, 0.06) 1px, transparent 1px);
  background-size: 32px 32px;
  background-color: #062630;
  padding: 3rem 1rem 1.5rem 1rem;
}
footer .review-heros-wrapper {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
footer .review-heros-wrapper .developers-joined {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.75rem;
}
footer .review-heros-wrapper .developers-joined p {
  color: #FFF;
  font-family: "Martian Mono";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 16.8px */
  letter-spacing: -1px;
}
footer h2 {
  color: #FAF5F3;
  text-align: center;
  font-family: "Martian Mono";
  font-size: 34px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%; /* 44.2px */
  letter-spacing: -2px;
}
footer .footer-bottom {
  margin-top: 1.5rem;
}
footer .footer-bottom .footer-year {
  color: #FFF;
  text-align: center;
  font-family: "Martian Mono";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 16.8px */
  letter-spacing: -1px;
}
footer .footer-bottom .footer-socials {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  margin-top: 1rem;
}
footer .footer-bottom .footer-socials a {
  display: block;
}

.developers-joined-img {
  width: 6.875rem;
}

.rating-stars-wrapper p {
  display: block;
}

.hr-footer {
  border-top: 1px solid #385159;
  margin-top: 4rem;
}

.review-membership {
  width: 100%;
  border-radius: 8px;
  border: 2px solid #FFF;
  padding: 1.25rem 1.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 1.5rem;
}
.review-membership span {
  display: block;
  font-family: "Martian Mono";
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%; /* 20.8px */
  letter-spacing: -1px;
  color: #FFF;
  text-transform: uppercase;
}
.review-membership:hover {
  border: 2px solid var(--colors-neutral-0, #FFF);
  background: linear-gradient(90deg, var(--colors-neutral-700, #385159) 0%, var(--colors-neutral-900, #062630) 100%);
  box-shadow: 0 0 0 3px var(--colors-neutral-900, #062630), 0 0 0 5px var(--colors-neutral-200, #E6E1DF);
}

@media (min-width: 768px) {
  h1 {
    font-size: 62px;
    width: 600px;
  }
  .membership-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1.5rem;
  }
  .review-button {
    width: 60%;
  }
  .heroes-rating {
    justify-content: left;
  }
  .feature h2 {
    font-size: 50px;
    width: 400px;
  }
  .features {
    padding-top: 5rem;
  }
  .review-section .review {
    font-size: 34px;
    width: 100%;
  }
  .review-membership {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  .developers-joined {
    margin-left: auto;
    margin-right: auto;
  }
  .footer-bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
@media (min-width: 1100px) {
  .pro {
    padding: 2.5rem;
  }
  .membership {
    margin-top: 7.5rem;
    margin-left: 8rem;
    margin-right: 8rem;
  }
  .membership h2 {
    text-align: center;
  }
  .membership .membership-wrapper {
    margin-top: 4rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .review-membership {
    width: 20%;
    justify-content: space-around;
  }
  .hero-top {
    padding-left: 8rem;
    padding-right: 8rem;
    display: grid;
    grid-template-columns: 1.1fr 0.9fr;
  }
  .description {
    width: 500px;
  }
  .review-button {
    width: 40%;
  }
  .features {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-left: 8.4rem;
    padding-right: 8.4rem;
    column-gap: 4rem;
  }
  .features .feature {
    padding-top: 2.75rem;
    padding-bottom: 2.75rem;
    grid-column: 2;
    grid-row: 1;
    font-size: 20px;
  }
  .features .feature h2 {
    font-size: 50px;
  }
  .features .feature-image {
    margin-top: 0;
    grid-column: 1;
    grid-row: 1;
  }
  .journey {
    margin-left: 8rem;
    margin-right: 8rem;
  }
  .journey .journey-header {
    text-align: center;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
  }
  .journey .steps {
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 1.5rem;
  }
  .journey .steps .step-item {
    display: flex;
    justify-content: left;
    flex-direction: column;
  }
  .journey .steps .step-item p {
    margin-top: 0;
  }
  .journey .journey-header {
    width: 500px;
    text-align: center;
  }
  .review {
    text-align: center;
  }
  .review-author {
    text-align: center;
  }
  .rating-stars {
    margin-left: auto;
    margin-right: auto;
  }
  .review-section {
    margin-top: 7.5rem;
    margin-bottom: 7.5rem;
  }
  .differences {
    padding-left: 8.4rem;
    padding-right: 8.4rem;
    padding-top: 8rem;
    padding-bottom: 8rem;
    margin: 0;
    display: grid;
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
  }
  .differences .differences-wrapper {
    grid-column: 1;
  }
  .differences .differences-image {
    grid-column: 2;
    width: 100%;
  }
  footer .footer-bottom .footer-socials {
    margin-top: 0;
  }
  .footer-bottom {
    padding-left: 8rem;
    padding-right: 8rem;
  }
  .review-section .review {
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
  }
}

/*# sourceMappingURL=style.css.map */
